<nav>
  <ul>
    <li><a href="/" class="<%= (page === 'home') ? 'active' : '' %>">Home</a></li>
    <li><a href="/services" class="<%= (page === 'services') ? 'active' : '' %>">Our Services</a></li>
    <li><a href="/contact" class="<%= (page === 'contact') ? 'active' : '' %>">Contact us</a></li>
  </ul>
</nav>
<hr>
